* {
	color: #666;
}
body {
	margin: 0 auto;
	background: url("../img/sky.jpg"); 
}

.container {
	background: #fff;
	margin-top: 1em;
	margin-bottom: 1em;
	-webkit-box-shadow: 20px 20px 5px 0 rgba(0,0,0,0.50);
	-moz-box-shadow: 20px 20px 5px 0 rgba(0,0,0,0.50);
	box-shadow: 20px 20px 5px 0 rgba(0,0,0,0.50);
	border-radius: 2%;

}
.splitter {
	border: 1px solid #666;
}

.mainHeaders {
	text-align: center;
}

.line-label {
	margin-top: 2em;
	float: right;
}

.bar-label {
	text-align: center;
	margin-top: 8em;
	margin-left: 4em;
}

.foot {
	text-align: center;
}
