body {
	margin: 0 auto;
	background: #09f;
}

h3 {
	color: #09f;
}


.container {
	margin-top: 1em;
	background: #fff;
	-webkit-box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
	border-radius: 5%;
}

.mainimg {
	width: 90%;
}